@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Patrick+Hand&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap') ;
body {
margin : 0;
font-family : 'Fredoka One', cursive;
background-color : hsl(0, 0%, 96%);
}
html {
scroll-behavior : smooth;
}
ul {
list-style-type : none;
}
li {
margin-top : 20px;
font-size : 24px;
}
.nav {
text-decoration : none;
}
code {
font-family : source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.heading {
text-align : left;
padding-left : 400px;
margin-top : 12%;
letter-spacing : 2px;
}
.name {
font-size : 60px;
letter-spacing : 5px;
text-transform : uppercase;
}
.experience {
text-align : left;
margin-left : 400px;
margin-top : 400px;
letter-spacing : 1.5px;
}
.description {
color : grey;
}
#space {
margin-left : 30px;
color : green;
}
#home {
scroll-margin : 300px;
}
#experience {
scroll-margin : 150px;
}
#education {
scroll-margin : 200px;
}
#skills {
scroll-margin : 175px;
}
#projects {
margin-bottom : 350px;
}
#dev {
color : green;
}
.post {
color : grey;
margin-top : 50px;
letter-spacing : 2.5px;
}
.title {
color : grey;
}
.me {
margin-top : 60%;
height : 200px;
width : 200px;
border : 5px;
border-style : solid;
border-color : white;
border-radius : 50%;
}
#bar {
border : 5px;
border-color : white;
border-style : solid;
position : fixed;
top : 0px;
background-color : grey;
text-transform : uppercase;
}
#click {
display : none;
}
.mobdev {
display : flex;
position: fixed;
visibility: hidden;
width: 92%;
align-items : center;
justify-content : space-between;
height : 80px;
padding : 0 2rem;
background-color : grey;
color : whitesmoke;
letter-spacing : 5px;
font-size : large;
}
nav a {
margin : 0 1rem;
color : whitesmoke;
text-decoration : none;
}
nav a:hover {
color : green;
}
.nav-btn {
padding : 5px;
cursor : pointer;
background : transparent;
border : none;
outline : none;
color : whitesmoke;
visibility : hidden;
opacity : 0;
font-size : 1.8rem;
}
header div, nav {
display : block;
align-items : center;
}
/* Media Query for max-width: 810px */
@media (max-width: 810px) {
	#bar {
	  display: none;
	}
	.heading {
	  padding-left: 30px;
	}
	#experience,
	.experience {
	  margin-left: 30px;
	}
	#mobile {
	  display: none;
	}
	.mobdev {
	  visibility: visible;
	}
	header .nav-btn {
	  visibility: visible;
	  opacity: 1;
	}
	nav {
	  position: fixed;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  gap: 1.5rem;
	  background-color: grey;
	  transition: 1s;
	  transform: translateY(-100vh);
	}
	.responsive_nav {
	  transform: none;
	}
	nav .nav-close-btn {
	  position: absolute;
	  top: 2rem;
	  right: 2rem;
	}
	nav a {
	  font-size: 1.5rem;
	}
  }
  
  /* Media Query for max-width: 490px */
  @media (max-width: 490px) {
	.name {
	  font-size: 40px;
	  letter-spacing: 6px;
	  text-transform: uppercase;
	}
	#bar {
	  display: none;
	}
	.heading {
	  padding-left: 30px;
	}
	#experience,
	.experience {
	  margin-left: 30px;
	}
	#mobile {
	  display: none;
	}
	.mobdev {
	  width: 85%;
	  visibility: visible;
	  letter-spacing: 3px;
	  font-size: medium;
	}
	header .nav-btn {
	  visibility: visible;
	  opacity: 1;
	}
	nav {
	  position: fixed;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  gap: 1.5rem;
	  background-color: grey;
	  transition: 1s;
	  transform: translateY(-200vh);
	}
	.responsive_nav {
	  transform: none;
	}
	nav .nav-close-btn {
	  position: absolute;
	  top: 2rem;
	  right: 2rem;
	}
	nav a {
	  font-size: 1.5rem;
	}
  }